{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mail_job/css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap"
        rel="stylesheet">
    {% endblock %}
    {% block extracss %}
    {% endblock %}
    {% block title %}
    <title>Mail Job</title>
    {% endblock title %}
</head>

<body>
    {% block nav %}
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgba(0,0,0,.1);">
        <a class="navbar-brand" href="/">Mail Job</a>
        {% if user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#togglerTarget"
            aria-controls="togglerTarget" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="togglerTarget">
            <ul class="navbar-nav mr-auto">
                <a class="nav-itrm nav-link" data-toggle="modal" href="#" data-target="#modalHow">
                    How?
                </a>
                <div class="modal fade" id="modalHow" tabindex="-1" role="dialog" aria-labelledby="modalHowLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modalHowLabel">說明</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Mail Job 可以幫助你提醒自己可能會忘記的任何事項，以 Email 的形式根據你的設定發送指定的郵件訊息。</p>
                                <hr>
                                <p>
                                    <a class="btn btn-secondary" href="{% url 'mail_job:add' %}"
                                        style="width: 8rem; border-radius: 2rem;">新增
                                        +</a>
                                    可以新增一筆屬於你的 Mail Job。</p>
                                <hr>
                                <p> 當一筆 Mail Job 到達<span style="font-weight: bolder;">通知起始日</span>時，系統將根據<span
                                        style="font-weight: bolder;">週期</span>寄送郵件給<span
                                        style="font-weight: bolder;">收件者</span>當中的所有人。郵件的主旨與內容由<span
                                        style="font-weight: bolder;">郵件主旨</span>與<span
                                        style="font-weight: bolder;">郵件內容</span>決定。</p>
                                <hr>
                                <p> 你可以使用表格欄位<span style="font-weight: bolder;">動作</span>當中的<span
                                        style="font-weight: bolder;">修改</span>、<span
                                        style="font-weight: bolder;">註銷</span>來管理你的 Mail Job，使用<span
                                        style="font-weight: bolder;">發測試信</span>發出一封測試信，測試你的收件者是否都能收到郵件。</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="nav-itrm nav-link" data-toggle="modal" href="#" data-target="#modalAbount">
                    About
                </a>
                <div class="modal fade" id="modalAbount" tabindex="-1" role="dialog" aria-labelledby="modalAbountLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="modalAbountLabel">關於</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="false">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>若有任何使用上的問題，請聯繫 Jack Chang 或 Jimmy Lin。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <ul class="navbar-nav ml-auto">
                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                        <a class="dropdown-item" href="{% url 'sign_up' %}">Sign up</a>
                        <a class="dropdown-item" href="{% url 'password_reset' %}">Password reset</a>
                    </div>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>
    {% endblock %}
    {% if messages %}
    {% block messages %}
    {% for key, value in messages.items %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <span class="navbar-text py-0">
            {{ value }}
        </span>
    </nav>
    {% endfor %}
    {% endblock %}
    {% endif %}
    {% block content %}
    {% endblock %}
    {% block basejs %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    {% endblock %}
    {% block extrajs %}
    {% endblock %}
</body>

</html>