{% extends 'mail_job/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
{% endblock %}

{% block title %}
<title>{% trans 'Change' %} | Mail Job</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
        </div>
    </div>
    {% if form %}
    <div class="row justify-content-center">
        <div class="col-auto j3y-card j3y-bg-blue" style="padding: 1.5rem;">
            <form method="post">
                <h2>{% trans 'Change' %}</h2>
                <h2><br></h2>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-row">
                    <div class="form-group col">
                        {{ field.label_tag }}
                        {% render_field field class+='form-control' %}
                        {% if field.errors %}
                        <p>{{ field.errors }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                {{ form.non_field_errors }}
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Change' %}</button>
                    </div>
                    <div class="form-group col">
                        <a href="{% url 'mail_job:delete' seq=seq %}" class="btn btn-danger btn-block">{% trans 'Delete' %}</a>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <a href="{% url 'mail_job:mail_test' seq=seq %}" class="btn btn-success btn-block">{% trans 'Mail Test' %}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
        </div>
    </div>
</div>
{% endblock %}