{% extends 'mail_job/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto">     
            <div class="text-center">
                {% include 'brand.html' %}
                <h1 class="type">{% trans 'Reminder' %}</h1>
                <p class="text-secondary">{% trans 'For those you may miss.' %}</p>
            </div>
        </div>
    </div>
    <div class="row" style="height: 4rem"></div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div class="row my-0 mx-1">
                <div class="py-2 px-1 ml-auto">
                    <a class="btn btn-dark btn-block" style="width: 8rem; border-radius: .5rem" href="{% url 'mail_job:add' %}">{% trans 'Add' %}{% trans '+' %}</a>
                </div>
            </div>
            <div class="row my-0 mx-1">
                <div class="py-2 px-1 mr-auto">
                    <input type="text" class="form-control" id="filter-mail-job"
                        placeholder="{% trans 'Search..' %}">
                </div>
                <div class="py-2 px-1">
                    <select class="form-control" id="show-all-controller-mail-job">
                        <option value="personal">{% trans 'Personal' %}</option>
                        <option value="all">{% trans 'All' %}</option>
                    </select>
                </div>
                <div class="py-2 px-1">
                    <select class="form-control" id="field-controller-mail-job">
                        <option value="basic_field">{% trans 'Basic fields' %}</option>
                        <option value="all_field">{% trans 'All fields' %}</option>
                    </select>
                </div>
            </div>
            <table class="table table-bordered border-light table-hover table-responsive mail-job" id="table-mail-job">
                <thead>
                    <tr>
                        <th>{% trans 'Action' %}</th>
                        <th class="advanced-field">{% trans 'Dep.' %}</th>
                        <th>{% trans 'Event type' %}</th>
                        <th>{% trans 'Event' %}</th>
                        <th>{% trans 'Start date' %}</th>
                        <th class="advanced-field">{% trans 'Stop date' %}</th>
                        <th>{% trans 'Period' %}</th>
                        <th>{% trans 'Mail subject' %}</th>
                        <th>{% trans 'Mail content' %}</th>
                        <th>{% trans 'Recipients' %}</th>
                        <th>{% trans 'Created by' %}</th>
                        <th>{% trans 'Created date' %}</th>
                        <th class="advanced-field">{% trans 'Updated by' %}</th>
                        <th class="advanced-field">{% trans 'Updated date' %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in df.iterrows %}
                    <tr>
                        <td id='td-action-mail-job'>
                            <div class="dropdown show">
                                <button class="btn btn-light bg-light dropdown-toggle" href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {% trans 'Choose' %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item"
                                        href="{% url 'mail_job:change' seq=row.seq %}">{% trans 'Change' %}</a>
                                    <a class="dropdown-item"
                                        href="{% url 'mail_job:delete' seq=row.seq %}">{% trans 'Delete' %}</a>
                                    <a class="dropdown-item"
                                        href="{% url 'mail_job:mail_test' seq=row.seq %}">{% trans 'Mail test' %}</a>
                                </div>
                            </div>
                        </td>
                        <td class="advanced-field">{{ row.department }}</td>
                        <td>{{ row.event_type }}</td>
                        <td>{{ row.event }}</td>
                        <td>{{ row.start_date|date:"Y-m-d" }}</td>
                        <td class="advanced-field">{{ row.stop_date|date:"Y-m-d" }}</td>
                        <td>{{ row.period_readable }}</td>
                        <td>{{ row.mail_subject }}</td>
                        <td>{{ row.mail_content }}</td>
                        <td>{{ row.recipients }}</td>
                        <td id="field-created-by-mail-job">{{ row.created_by }}</td>
                        <td>{{ row.created_date|date:"Y-m-d" }} {{ row.created_date|time:"H:i:s" }}</td>
                        <td class="advanced-field">{{ row.updated_by }}</th>
                        <td class="advanced-field">{{ row.updated_date|date:"Y-m-d" }}
                            {{ row.updated_date|time:"H:i:s" }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="height: 8rem"></div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    var role = "{{ user }}";
</script>
<script type="text/javascript" src="{% static 'js/mail_job/change_list.js' %}"></script>
{% endblock %}