{% extends 'mail_job/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'mail_job/css/dataframe.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
        </div>
    </div>
    {% if htmls %}
    {% for key, value in htmls.items %}
    {% if key == 'change_list' %}
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
            <div class="w-100" style="text-align: end; padding-bottom: 2rem; padding-right: 2rem;">
                <a class="btn btn-secondary" href="{% url 'mail_job:add' %}" style="width: 8rem; border-radius: 2rem;">新增 +</a>
            </div>
            {{ value|safe }}
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
        </div>
    </div>
</div>
{% endblock %}