{% extends 'base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static '/mail_job/css/dataframe.css' %}">
{% endblock %}

{% block title %}
<title>Lookup And Setup | Mail Job</title>
{% endblock title %}

{% block content %}
<div class="container-fluid"
    style="padding-top: 2em; padding-bottom: 2em; padding-left: 4em; padding-right: 4em; font-family: Georgia, 'Times New Roman', Times, serif;">
<div class="row justify-content-end">
    {% if user.is_authenticated %}
    <p>Hi, {{ user.username }}.&nbsp;</p><a href="{% url 'logout' %}">logout</a>
    {% else %}
    <p>You are not logged in.&nbsp;</p><a href="{% url 'login' %}">login</a>
    {% endif %}
</div>
<div class="row justify-content-center" style="padding-bottom: 1em;">
    <h1>Lookup And Setup | Mail Job</h1>
</div>
<div class="row justify-content-center" style="font-size: larger;">
    <div class="col-auto"
        style="border-width:2px; border-style:solid; border-color:rgb(150, 150, 150); padding-left:2.5em; padding-right:2.5em; padding-top:1.5em; padding-bottom:0.5em;">
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <div style="padding-top: 1em;padding-bottom: 1em;">
                <input type="submit" class="btn btn-secondary" value="Submit">
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center" style="padding-top: 2em">
    {% if message %}
    <br>
    <h4>{{ message }}</h4>
    {% endif %}
</div>
{% if result %}
{% for key, value in result.items %}
<div class="row justify-content-center" style="padding-top: 2em">
    {{ value|safe }}
</div>
{% endfor %}
{% endif %}
{% endblock %}
