{% extends 'mail_job/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'mail_job/css/dataframe.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="padding-top: 1em;padding-bottom: 1em;">
        <div class="card">
            <div class="card-body">
                <h2 style="padding-bottom: 1em;">Lookup</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div style="padding-top: 1em;padding-bottom: 1em;">
                        <input type="submit" class="btn btn-secondary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if message %}
    <div class="row justify-content-center" style="padding-top: 1em;padding-bottom: 1em;">
        <h4>{{ message }}</h4>
    </div>
    {% endif %}
    {% if result %}
    {% for key, value in result.items %}
    <div class="row justify-content-center" style="padding-top: 1em;padding-bottom: 1em;">
        {{ value|safe }}
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}