{% extends 'mail_job/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'mail_job/css/dataframe.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mail_job/css/lookup.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 1.5rem;">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-8 col-sm-9 col-10 j3y-border" style="padding: 1.5rem;">
            <h2>Lookup</h2>
            <h2><br></h2>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                    {{ field.label_tag }}
                    {% render_field field class+='form-control' %}
                    {{ field.errors }}
                    {% endfor %}
                </div>
                {{ form.non_field_errors }}
                <button type="submit" class="btn btn-secondary">送出</button>
            </form>
        </div>
    </div>
    {% if message %}
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 1.5rem;">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-8 col-sm-9 col-10" style="padding: 1.5rem; text-align: center;">
            <h4>{{ message }}</h4>
        </div>
    </div>
    {% endif %}
    {% if result_html %}
    {% for key, value in result_html.items %}
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
            <h4>{{ key }}</h4>
            {{ value|safe }}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 1.5rem;">
        </div>
    </div>
</div>
{% endblock %}