{% extends 'mail_job/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
{% endblock %}

{% block title %}
<title>Mail test | Mail Job</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
        </div>
    </div>
    {% if request.method == 'GET' %}
    <div class="row justify-content-center">
        <div class="col-auto j3y-border" style="padding: 1.5rem;">
            <h2>您確定嗎？</h2>
            <h2><br></h2>
            <p>確定要發出這筆 Mail Job 的測試信嗎？</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-success btn-block">發出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem;">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}