{% load i18n %}
{% load static %}
<div class="modal fade" id="modalHelp" tabindex="-1" role="dialog" aria-labelledby="modalHelpLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalHelpLabel">{% trans 'Help' %}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{% trans 'What does a mail job do?' %}</p>
                <p>{% trans 'It helps you remind yourself those you may miss, sending the specified email message according to your settings.' %}
                </p>
                <hr>
                <p>{% trans 'How can I get started?' %}</p>
                <p>
                    {% trans 'Use ' %}<a class="btn btn-secondary" href="{% url 'mail_job:add' %}"
                        style="width: 8rem; border-radius: 2rem;">{% trans 'Add +'%}</a>
                    {% trans ' to create a new mail job for yourself.' %}</p>
                <p>{% trans 'After that, manage your Mail Job using Change, Delete and Mail Test function in the table showed below.' %}
                </p>
                <hr>
                <p>{% trans 'Here are some fields you may get confused about. You may check out these, if necessary:' %}
                </p>
                <table class="table j3y-table table-light bg-light table-striped">
                    <thead>
                        <tr style="text-align: left;">
                            <th>{% trans 'Field' %}</th>
                            <th>{% trans 'Description' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{% trans 'Dep.' %}</th>
                            <td>{% trans 'This mail job is for which department.' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Event type' %}</th>
                            <td>{% trans 'A plain text which simply classifies which event this is about.' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Event' %}</th>
                            <td>{% trans 'More detail about the event here.' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Start on' %}</th>
                            <td>{% trans 'The date on which mail job starts sending the notification by email.' %}</td>
                        </tr>
                        </tr>
                        <tr>
                            <th>{% trans 'Period' %}</th>
                            <td>{% trans 'After that, how frequently does mail job send the email.' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Mail subject' %}</th>
                            <td>{% trans 'The subject of email sent' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Mail content' %}</th>
                            <td>{% trans 'The content of email sent' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Recipients' %}</th>
                            <td>{% trans 'Those who would recieve the email.' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Created by' %}</th>
                            <td>{% trans 'Who created this mail job.' %}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Created date' %}</th>
                            <td>{% trans 'The date this mail job created.' %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>