{% extends 'mail_job/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block extracss %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 1.5rem;">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-8 col-sm-9 col-10 j3y-border" style="padding: 1.5rem;">
            <h2>Setup</h2>
            <h2><br></h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-row">
                    <div class="form-group col">
                        {{ field.label_tag }}
                        {% render_field field class+='form-control' %}
                        {% if field.errors %}
                        <p>{{ field.errors }}</p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-row">
                    <div class="form-group col">
                        {{ form.non_field_errors }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <button type="submit" class="btn btn-primary btn-block">送出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if message %}
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 1.5rem;">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-3 col-lg-6 col-md-8 col-sm-9 col-10" style="padding: 1.5rem; text-align: center;">
            <h4>{{ message }}</h4>
        </div>
    </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-10" style="padding: 1.5rem;">
        </div>
    </div>
</div>
{% endblock %}