[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --emperor /home/jimub/envs/mssqlj3y/mssqlj3y/uwsgi/ini
KillSignal=SIGQUIT
NotifyAccess=all
RuntimeDirectory=uwsgi
Restart=always
StandardError=syslog
Type=notify

[Install]
WantedBy=multi-user.target
