{% extends 'registration/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block title %}
<title>Login</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="padding-top: 1em;padding-bottom: 1em;">
        <div class="card card-center" style="width: 15em;">
            <div class="card-body">
                <h1 style="padding-bottom: 1em;">Login</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <div style="padding-top: 1em;padding-bottom: 1em;">
                        <button type="submit">Login</button>
                        or
                        <input type="button" value="Sign up" onclick="location.href='/accounts/sign_up/'">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}