{% extends 'registration/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block title %}
<title>Login | Accounts</title>
{% endblock title %}

{% block nav %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="div-center">
            <div class="col-auto"
                style="border-width:2px; border-style:solid; border-color:rgb(150, 150, 150); padding-left:2.5em; padding-right:2.5em; padding-top:1.5em; padding-bottom:0.5em;">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}