{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Done | Password reset | Mail Job</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem; width: 24rem;">
            <h2 style="text-align: center;">Done!</h2>
            <h2><br></h2>
            <p>Check your inbox. We've emailed you instructions for setting your password. You should receive the email shortly!</p>
        </div>
    </div>
</div>
{% endblock %}