{% extends 'registration/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>{% trans 'Sign up' %} | {% trans 'Accounts' %}</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="height: 6rem;"></div>
    <div class="row justify-content-center">
        <div class="col-auto" style="padding: 1.5rem; width: 24rem;">
            <h1 style="text-align: center;">{% trans 'Sign up' %}</h1>
            <h2><br></h2>
            <p>{% trans 'Already got an account? ' %}<a href="{% url 'login' %}" class="text-decoration-none">{% trans 'Login' %}</a>{% trans ' here.' %}</p>
        </div>
    </div>
</div>
{% endblock %}