{% extends 'registration/base.html' %}
{% load static %}

{% block extracss %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/css/sign_up.css' %}">
{% endblock %}

{% block title %}
<title>Sign Up | Accounts</title>
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="padding-top: 1em;padding-bottom: 1em;">
        <div class="card card-center" style="width: 15em;">
            <div class="card-body">
                <h1 style="padding-bottom: 1em;">Sign Up</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}