* {
    font-family: Georgia, 'Noto Sans TC', 'Times New Roman', Times, serif;
    color: #343A40;
}

th {
    font-family: 'Roboto Slab', 'Noto Sans TC', 'Times New Roman', Times, serif;
    font-weight: 500;
}

.j3y-table th {
    width: 4.5rem;
}

.j3y-df td, th {
    max-width: 9rem;
    word-wrap: break-word;
}
