.dataframe {
    font-size: 11pt; 
    border-collapse: collapse; 
    border: 1px solid rgba(0,0,0,.125);
}

.dataframe td, th {
    padding: 5px;
    max-width: 200px;
    word-wrap: break-word;
}

.dataframe tr:nth-child(even) {
    background: rgba(0,0,0,.125);
}
