.dataframe {
    border: 1px solid rgba(0,0,0,.25);
}

.dataframe table {
    margin-left:auto; 
    margin-right:auto;
}

.dataframe td, th {
    padding: .5rem;
    max-width: 10rem;
    word-wrap: break-word;
}

.dataframe tr:nth-child(even) {
    background: rgba(0,0,0,.125);
}
