# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
/lib/

# Some python script files
/bin/
/Scripts/

# Virtual environment config file
/pyvenv.cfg

# Mac things
.DS_Store

# Django things
db.sqlite3
**/migrations/*
!**/migrations/__init__.py

# VSCode things
.vscode/settings.json

# IIS things
web.config

# for this project only
/mssqlj3y/secret/
/mssqlj3y/static/