* {
    font-family: 'Roboto Slab', 'Noto Sans TC', 'Times New Roman', Times, serif;
    color: #343A40;
}

nav .nav-link {
    font-weight: 500;
}

.border-j3y-theme-1 {
    border: 1px solid rgba(213, 208, 218, .5);
}

.border-j3y-theme-2 {
    border: 1px solid rgba(213, 208, 218, 1);
}

.bg-j3y-theme-1 {
    background-color: rgba(233, 228, 238, .25);
}

.bg-j3y-theme-2 {
    background-color: rgba(233, 228, 238, .5);
}

.bg-j3y-theme-3 {
    background-color: rgba(233, 228, 238, .75);
}

.bg-j3y-theme-4 {
    background-color: rgba(233, 228, 238, 1);
}

table.mail-job {
    max-width: 100rem;
}

table.mail-job th,
table.mail-job td {
    vertical-align: text-top;
    min-width: 7rem;
    max-width: 10rem;
    word-wrap: break-word;
}

table.mail-job tbody tr:nth-of-type(even) {
    background-color: rgba(233, 228, 238, .5);
}

table.mail-job tbody tr:hover {
    background-color: rgba(233, 228, 238, 1);
}

table.mail-job .advanced-field {
    display: none;
}