* {
    font-family: 'Roboto Slab', 'Noto Sans TC', 'Times New Roman', Times, serif;
    color: #343A40;
}

table.mail-job th, table.mail-job td {
    min-width: 7rem;
    max-width: 10rem;
    word-wrap: break-word;
}

table.mail-job tbody tr:nth-of-type(even) {
    background-color: rgba(233, 228, 238, .5);
}

table.mail-job tbody tr:hover {
    background-color: rgba(233, 228, 238, 1);
}

table.mail-job .advanced-field {
    display: none;
}


.border-j3y-theme-1 {
    border: 1px solid rgba(233, 228, 238, .25);
}

.border-j3y-theme-2 {
    border: 1px solid rgba(233, 228, 238, .5);
}

.bg-j3y-theme-1 {
    background-color: rgba(233, 228, 238, .25);
}

.bg-j3y-theme-2 {
    background-color: rgba(233, 228, 238, .5);
}

.bg-j3y-theme-3 {
    background-color: rgba(233, 228, 238, .75);
}

.bg-j3y-theme-4 {
    background-color: rgba(233, 228, 238, 1);
}
